$colors: ("primary": #db9e3f, "danger": #791a15, "info": #4b67af, "blue":#4394e4, "blue-1":#1f3695, "white-2": #eceef0, "white-1": #fcfcfc, "white": #fff, "light": #f9f9f9, "light-1": #d4d9de, "grey": #999, "gery-1": #666, "dark": #212222, "dark-1": #343440, black: #333, );
$border-color: map-get($colors, 'light-1');
//font size
$base-font-size: 1rem;
$font-sizes: ( xxs: .615385, //8px
xs: .7692, //10px
sm: .9231, //12px
md: 1, //13px
lg: 1.076923, //14px
xl: 1.230769, //16px
);
$flex-jc: ( start: flex-start, end: flex-end, center: center, between: space-between, around: space-around, );
$flex-ai: ( start: flex-start, end: flex-end, center: center, stretch: stretch);
$spacing-types: (m: margin, p: padding);
$spacing-directions: (t: top, r: right, b: bottom, l: left);
$spacing-base-size: 1rem;
$spacing-sizes: (0: 0, 1: 0.25, 2: 0.5, 3: 1, 4: 1.5, 5: 3); //根据bootstrap